<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.mvolkert.dancingmoves" version="0.1.11" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Dancing Moves</name>
    <description>Dancing Moves</description>
    <author email="marco.volkert24@gmail.com" href="https://cordova.apache.org">
        Marco Volkert
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
      <allow-intent href="market:*" />
      <icon src="src/assets/woman-dancing-svgrepo-com.png" />
      <preference name="android-minSdkVersion" value="22" />
      <preference name="android-targetSdkVersion" value="32" />
    </platform>
    <universal-links>
      <host name="mvolkert.github.io/dancing-moves" scheme="https">
        <path url="/" />
        <path url="dances" />
        <path url="dance/*" />
        <path url="courses" />
        <path url="course/*" />
        <path url="moves" />
        <path url="move/*" />
        <path url="relations" />
      </host>
    </universal-links>
</widget>
