<p>Welcome to Dancing Moves, the place to store your learned moves to never ever forget them again</p>
<p>Use navigation on the side to change pages</p>
<span></span>
<div>
    <span>This app is still beeing tested:</span>
    <ul>
        <li>Who knows me personally can have access to sync moves with main database (read or write)</li>
        <li>For everyone else, there is not yet a Sync with a personal Google Table implemented, so your Data is only
            on your device and might get lost.</li>
    </ul>
</div>

<p>Also available in <a mat-raised-button
        href="https://play.google.com/store/apps/details?id=io.github.mvolkert.dancingmoves">Playstore</a></p>
<button mat-raised-button color="primary" type="submit" (click)="takeTour()">Take Tour</button>